body{
    margin:0;
    padding:0;
    background: #282828;

}
.maincontainer{
    background: transparent;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.logo{
    margin-top: 50px;
    display:flex ;
    align-items:center ;
    justify-content: center;
    
    padding:50px;
}
.heading{
    display:flex ;
    align-items:center ;
    justify-content: center;
    
    padding:50px;
}
.button{
    background: #B0FF37;
    padding: 20px;
    margin-top: 30px;
    border-radius: 15px;
    color:#181818;
    font-size:larger;
}